h1 {
  text-align: center;
  color: blue;
  font-family: "Century Gothic";
}
h2 {
  text-align: center;
  color: rgb(84, 17, 97);
  font-family: "Tahoma";
}
h3 {
  text-align: center;
  color: rgb(8, 231, 175);
  font-family: "Tahoma";
}
h4 {
  text-align: center;
  color: rgb(0, 255, 242);
  font-family: "Arial";
}
p {
  text-align: justify;
  font-family: "Times New  Roman";
}
